In [53]:
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [4]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship',\
          'race','sex','capital-gain','capital-loss','hours-per-week','native_country','income_class']

In [9]:
df.columns = columns

In [11]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,income_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
df1 = df.copy()

In [35]:
df = df1.copy()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native_country    32561 non-null object
income_class      32561 non-null object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [15]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,189778.366512,10.080679,1077.648844,87.303830,40.437456
std,13.640433,105549.977697,2.572720,7385.292085,402.960219,12.347429
min,17.000000,12285.000000,1.000000,0.000000,0.000000,1.000000
25%,28.000000,117827.000000,9.000000,0.000000,0.000000,40.000000
50%,37.000000,178356.000000,10.000000,0.000000,0.000000,40.000000
75%,48.000000,237051.000000,12.000000,0.000000,0.000000,45.000000
max,90.000000,1484705.000000,16.000000,99999.000000,4356.000000,99.000000

In [16]:
predictors = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship',\
          'race','sex','capital-gain','capital-loss','hours-per-week','native_country']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(df[predictors],df.income_class,test_size=0.3)

In [19]:
X_train.shape

(22792, 14)

In [20]:
X_test.shape

(9769, 14)

In [21]:
y_test.shape

(9769L,)

In [22]:
y_train.shape

(22792L,)

In [26]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,income_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
var_mod = ['workclass','education','marital-status','occupation','relationship',\
          'race','sex','native_country','income_class']

In [36]:
for var in var_mod:
    lb = LabelEncoder()
    full_var_data = df[var].astype('str')
    temp = lb.fit_transform(np.array(full_var_data))
    df[var] = lb.transform(np.array( df[var] ).astype('str'))

In [40]:
df.income_class.value_counts()

0    24720
1     7841
Name: income_class, dtype: int64

In [42]:
dt = DecisionTreeClassifier()

In [44]:
result = cross_val_score(dt,X_train,y_train,cv=10)

In [45]:
result

array([ 0.81973684,  0.81008772,  0.81885965,  0.81096491,  0.80701754,
        0.80131579,  0.80158033,  0.79719052,  0.79675154,  0.80026339])

In [46]:
result.mean()

0.8063768233137717

In [47]:
model = dt.fit(X_train,y_train)

In [48]:
pred = model.predict(X_test)

In [50]:
accuracy_score(pred,y_test)

0.81052308322243838

In [52]:
print classification_report(pred,y_test)

             precision    recall  f1-score   support

          0       0.87      0.88      0.87      7365
          1       0.62      0.60      0.61      2404

avg / total       0.81      0.81      0.81      9769

In [54]:
print confusion_matrix(pred,y_test)

[[6464  901]
 [ 950 1454]]

In [57]:
zip(model.feature_importances_,X_train.columns)

[(0.126680663246794, 'age'),
 (0.034834207021438926, 'workclass'),
 (0.19523650654248403, 'fnlwgt'),
 (0.011565673068078325, 'education'),
 (0.11399851940764696, 'education-num'),
 (0.0064930223304095072, 'marital-status'),
 (0.06203996035913438, 'occupation'),
 (0.2010578341185037, 'relationship'),
 (0.011364673110939022, 'race'),
 (0.0039428804568297678, 'sex'),
 (0.11211489109481705, 'capital-gain'),
 (0.03321099632161624, 'capital-loss'),
 (0.070198911425532917, 'hours-per-week'),
 (0.017261261495774977, 'native_country')]

In [59]:
df1.relationship.value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64